@model BiuroRachunkowe.Models.AspNetUsers

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń Użytkownika @Model.UserName</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

	<div class="form-actions no-color">
		@Html.ActionLink("Wróć", "UserList", null, new { @class = "btn btn-default" })

		<input type="submit" value="Delete" class="btn btn-danger" />
	</div>
    }
</div>
