@model BiuroRachunkowe.Models.AspNetRoles

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń Role   @Html.DisplayFor(model => model.Name)</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Usuń" class="btn btn-danger" />
			</div>
		</div>
		
	}
</div>
<div>
	@Html.ActionLink("Wróć", "RoleList", null, new { @class = "btn btn-default" })


</div>