@model IEnumerable<BiuroRachunkowe.Models.AspNetRoles>

@{
	ViewBag.Title = "Role";
}

<div class="col-md-3">
	@Html.Partial("~/Views/Management/LayoutManagement.cshtml")

</div>
<div class="col-md-9">
	<h2>Role</h2>

	<p style="text-align:right">
		@Html.ActionLink("Dodaj Role", "CreateRole",null, new { @class = "btn btn-primary" })
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>

			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td style="text-align:right">
					@Html.ActionLink("Edytuj", "EditRole", new { id = item.Id }, new { @class = "btn btn-default" }) 
					@Html.ActionLink("Usuń", "DeleteRole", new { id = item.Id }, new { @class = "btn btn-danger" })
				</td>
			</tr>
		}

	</table>
	</div>