@model IEnumerable<BiuroRachunkowe.Models.UserListViewModel>

@{
	ViewBag.Title = "Użytkownicy";
}

<div class="col-md-3">
	@Html.Partial("~/Views/Management/LayoutManagement.cshtml")

</div>
<div class="col-md-9">
	<h2>Użytkownicy</h2>

	<p style="text-align:right">
		@Html.ActionLink("Dodaj Użytkownika", "Register", "Account",null, new { @class = "btn btn-primary" })
	</p>
	<table class="table">
		<tr>

			<th>
				@Html.DisplayNameFor(model => model.Login)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Role)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
		<div ><tr>

			<td>
				@Html.DisplayFor(modelItem => item.Login)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Role)
			</td>
			<td style="text-align:right">
				@Html.ActionLink("Edytuj", "EditUser", new { id = item.Id }, new { @class = "btn btn-default" })
				@Html.ActionLink("Usuń", "DeleteUser", new { id = item.Id }, new { @class = "btn btn-danger" })
			</td>
		</tr></div>
		}

	</table>
</div>