@model BiuroRachunkowe.Models.importInvoiceDate




@{
	ViewBag.Title = "Eksportuj Faktury";
}




<div class="row" style="margin-left:10px">

	<div id="main1" class="col-md-9">
		<div>
			<div style="float:left; width:100%"></div>
		</div>
		<div>
			@using (Html.BeginForm())
			{
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })


				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					<h4>Eksportuj Faktury z zakresu wybranej daty:</h4>









					<div class="form-group">
						@Html.Label("Od:", htmlAttributes: new { @class = "control-label col-md-2 " })
						<div class="col-md-10">
							@Html.EditorFor(model => model.from, new { htmlAttributes = new { @class = " date-picker form-control" } })

						</div>
					</div>

					<div class="form-group">
						@Html.Label("Do :", htmlAttributes: new { @class = "control-label col-md-2 " })
						<div class="col-md-10">
							@Html.EditorFor(model => model.to, new { htmlAttributes = new { @class = " date-picker form-control", @Value = ViewBag.Date } })
						</div>
					</div>





					<br />



				</div>
				<input class="btn btn-default" type="button" value="Wróć do listy" onclick="location.href='@Url.Action( "Invoicelist","Office")'" />
				<input type="submit" class="btn btn-default" value="Eksport" />

			}


		</div>

	</div>
</div>

<script type="text/javascript">
	$(function () {
		var $j = jQuery.noConflict();
		$j('.date-picker').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
</script>