@model BiuroRachunkowe.Models.InvoiceHeader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="form-horizontal">
	<div id="Inputs">
		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control", @Value = Model.InvoiceDate.ToString("yyyy-MM-dd") } })
					@Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="row" style="margin-left:10px">

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.TypeOfTranosport, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.TypeOfTranosport, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.TypeOfTranosport, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Voucher, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.Voucher, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Voucher, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="row" style="margin-left:10px">

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.ExchangeRate, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.ExchangeRate, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ExchangeRate, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.InvoiceValue, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.InvoiceValue, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.InvoiceValue, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.TransportCost, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.TransportCost, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.TransportCost, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.AdditionalCost, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.AdditionalCost, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.AdditionalCost, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Supplier, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.Supplier, new { htmlAttributes =  new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Supplier, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.ShipFrom, htmlAttributes: new { @class = "control-label " })
				<div>
					@Html.EditorFor(model => model.ShipFrom, new { htmlAttributes =new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ShipFrom, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		
	</div>
	</div>
<p>
	@Html.ActionLink("Wróć", "InvoiceList", null, new { @class = "btn btn-default " })

</p>
<script>
	$(document).ready(function () {
		$('#Inputs :input').attr('disabled', true);
	});
</script>