@model BiuroRachunkowe.Models.InvoicePositionViewModel


<h2>Stwórz pozycję dla faktury nr:@ViewBag.Nr</h2>




@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.HiddenFor(model => model.InvoiceId)
		@Html.HiddenFor(model => model.PositionNumber)

		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.PositionNumber, htmlAttributes: new { @class = "control-label " })

				@Html.EditorFor(model => model.PositionNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
				@Html.ValidationMessageFor(model => model.PositionNumber, "", new { @class = "text-danger" })

			</div>


			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Itemnumber, htmlAttributes: new { @class = "control-label " })

				@Html.DropDownListFor(model => model.Itemnumber, Model.ItemnumberDDL, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Itemnumber, "", new { @class = "text-danger" })

			</div>
		</div>
		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label " })

				@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

			</div>
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label " })

				@Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })

			</div>
		</div>
		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label " })

				@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

			</div>
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.UnitOfMeasure, htmlAttributes: new { @class = "control-label " })

				@Html.DropDownListFor(model => model.UnitOfMeasure, Model.UnitOfMeasureDDL, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.UnitOfMeasure, "", new { @class = "text-danger" })

			</div>
		</div>
		

		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">

				@Html.LabelFor(model => model.HSCode, htmlAttributes: new { @class = "control-label " })

				@Html.EditorFor(model => model.HSCode, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.HSCode, "", new { @class = "text-danger" })


			</div>

			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.AdditionalCost, htmlAttributes: new { @class = "control-label " })

				@Html.EditorFor(model => model.AdditionalCost, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.AdditionalCost, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row" style="margin-left:10px">
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.CountryOfOrigin, htmlAttributes: new { @class = "control-label " })

				@Html.DropDownListFor(model => model.CountryOfOrigin, Model.CountryOfOriginDDL, new { @class = "form-control" })

			</div>
			<div class="form-group col-sm-4">
				@Html.LabelFor(model => model.TransportsCost, htmlAttributes: new { @class = "control-label " })

				@Html.EditorFor(model => model.TransportsCost, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.TransportsCost, "", new { @class = "text-danger" })

			</div>

		</div>
		
		



		<div>
			@Html.ActionLink("Wróć", "ImportInvoicePos", new {id=Model.InvoiceId }, new { @class = "btn btn-default " })
			<input type="submit" value="Stwórz" class="btn btn-default" />
		</div>
	</div>
}

